click==7.1.2
Jinja2==2.11.3
livereload==2.6.3
Markdown==3.3.3
MarkupSafe==1.1.1
mkdocs==1.0.4
mkdocs-awesome-pages-plugin==2.0.1
mkdocs-material==3.1.0
Pygments==2.2.0
pymdown-extensions==8.1.1
PyYAML==5.4.1
six==1.15.0
tornado==6.1
